<!-- Generated template for the ParcelListComponent component -->
<ion-list *ngIf="ParcelData">

  <ion-grid *ngIf="type=='long'">

    <ion-card (click)="gotoDetail(parcel)" *ngFor="let parcel of ParcelData">
      <ion-card-header>
        <ion-row>
          <ion-col col-8>
            <div text-left>Parcel Number {{parcel.parcelNumber}} </div>
          </ion-col>
          <ion-col col-4>
            <div text-right>Items: {{parcel.totalItems}}</div>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-10>
            <ion-item>
              <span>Route:</span>
              <p text-wrap right> {{parcel.routeName}}</p>
              <span>Collection:</span>
              <p text-wrap right> {{parcel.collectionPointName}}</p>
            </ion-item>
            <ion-item-divider>Sender</ion-item-divider>
            <ion-item>
              <p>Name: {{parcel.senderName}}</p>
              <span>Phone: {{parcel.senderPhone}}</span>

            </ion-item>
            <ion-item-divider>Receiver</ion-item-divider>
            <ion-item>
              <p>Name: {{parcel.receiverName}}</p>
              <span>Phone:{{parcel.receiverPhone}}</span>

            </ion-item>
            <ion-item>
              <p>Created on {{parcel.createdAt | date:'MMM d, y, h:mm a'}}</p>

            </ion-item>
            <p>Status
              <ion-chip>
                <ion-label>{{parcel.parcelStatusDetailName}}</ion-label>
              </ion-chip>
            </p>
          </ion-col>
          {{SelectedParcel[parcel.id]}}
          <ion-col col-2 *ngIf="hasCheckbox">
            <ion-checkbox (ionChange)="parcelSelected(parcel)"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


  </ion-grid>

  <div *ngIf="type=='short'">

    <ion-card (click)="gotoDetail(parcel)" *ngFor="let parcel of ParcelData; trackBy:parcelId" >
      <ion-card-header>
        <ion-row>
            Parcel Number {{parcel.parcelNumber}}
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
       <ion-col col-10>
        <ion-item >
          <h2>{{parcel.routeName}}</h2>
          <p>Items: {{parcel.totalItems}}</p>
          <p>SN: {{parcel.senderName}}</p>
          <p>RN: {{parcel.receiverName}}</p>
          
        </ion-item>
        </ion-col>
        
        <ng-container *ngIf="hasCheckbox">
          <ion-col col-2 >
            <ion-checkbox [checked]="SelectedParcel[parcel.id]!=undefined" (ionChange)="parcelSelected($event, parcel)" ></ion-checkbox>
          </ion-col>
        </ng-container>
         
        </ion-row>
        
      </ion-card-content>
    </ion-card>
  </div>

</ion-list>