<!--
  Generated template for the LoginViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <form #form="ngForm">
<ion-list >
    <div padding margin>
        <h3 >parcel<b>Ant</b></h3>
       
    </div>
  <ion-item padding>
    <ion-label floating>Username</ion-label>
    <ion-input ngModel name="username" type="text"></ion-input>
  </ion-item>
  <ion-item padding>
      <ion-label floating>Password</ion-label>
      <ion-input ngModel name="password" type="password" aria-required="true"></ion-input>
    </ion-item>
    <button ion-button full large margin-top (click)="login(form.value)">Login</button>
</ion-list>
</form>
</ion-content>
