<!--
  Generated template for the DispatchViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DispatchView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <parcel-list (onParcelSelected)="parcelSelected($event)" (onParcelUnselected)="parcelUnselected($event)" 
              [DetailView]="DetailView" 
              [ParcelData]="ParcelData" 
              [type]="'short'" 
              [hasCheckbox]="true"
              [SelectedParcel]="SelectedParcel">
  </parcel-list>
  
</ion-content>
<ion-footer>
    <div class="top-footer">
    <ion-chip color="light"><ion-label >{{totalParcelsSelected}} parcels</ion-label></ion-chip>
    <ion-chip color="light"><ion-label >{{totalItemsSelected}} items</ion-label></ion-chip>
    </div>
    <button ion-button block full large color="secondary" (click)="goto('DispatchFinalView')" icon-right>
      NEXT
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
</ion-footer>