<!--
  Generated template for the AddParcelItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-col col-4> P.NO.</ion-col>
      <ion-col col-5> {{parcel.parcelNumber}}</ion-col></ion-title>
  </ion-navbar>
  <ion-fab top right>
      <button ion-fab color="light">
        <ion-icon name="print"></ion-icon>
      </button>
    </ion-fab>
  <ion-grid>
    
    <ion-row class="item-row">
      <ion-col col-4>SENDER</ion-col>
      <ion-col col-4>{{parcel.senderName}} </ion-col>
      <ion-col col-4>{{parcel.senderPhone}}</ion-col>
    </ion-row>
    <ion-row class="item-row">
        <ion-col col-4>RECEIVER</ion-col>
        <ion-col col-4>{{parcel.receiverName}} </ion-col>
        <ion-col col-4>{{parcel.receiverPhone}}</ion-col>
      </ion-row>
      <ion-row class="item-row">
          <ion-col col-4>ROUTES</ion-col>
          <ion-col col-8>{{parcel.routeName}}</ion-col>
          </ion-row>
    
    <ion-row class="item-row">
        <ion-col col-4><div>COLLECTION</div></ion-col>
        <ion-col col-8> {{parcel.collectionPointName}} </ion-col>
      </ion-row>
      <ion-row class="item-row">
          <ion-col col-4>AMOUNT</ion-col>
          <ion-col col-3> {{totalAmount | currency:'KES':'symbol':'3.0':'en'}} </ion-col>
          <ion-col col-2>ITEMS:</ion-col>
          <ion-col col-3>{{totalItems}}</ion-col>
        </ion-row>
        <ion-row class="item-header">
            <ion-col col-4><span>Qnty</span></ion-col>
            <ion-col col-4> <span>Desc</span> </ion-col>
            <ion-col col-4> <span>Amnt</span></ion-col>
          </ion-row>
      
          </ion-grid>
</ion-header>

<ion-content padding-top>
    
      
    <ion-grid>
       <ion-list> 
      <ion-row class="item-row" *ngFor="let item of items">
       
          <ion-col col-3 ><span text-wrap>{{item.quantity}}</span></ion-col>
          <ion-col col-5 ><span text-wrap>{{item.description}}</span></ion-col>
          <ion-col col-4 ><span text-wrap>{{item.amount }}</span></ion-col>
       
        </ion-row>
        
          </ion-list>
        </ion-grid>

    <ion-fab bottom right (click)="presentPrompt()">
        <button ion-fab color="primary">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-fab>
</ion-content>
