<!--
  Generated template for the DispatchDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DispatchDetailView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <parcel-item-list
     (onParcelItemSelected)="parcelItemSelected($event)" 
     (onParcelItemUnselected)="parcelItemUnselected($event)"
     [ParcelItems]="ParcelItems"
     [SelectedItems]="SelectedItems"></parcel-item-list>
</ion-content>
