<!--
  Generated template for the NewParcelTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> 
    <ion-title>New Parcel</ion-title>
  </ion-navbar>
  <ion-grid>
    
      <ion-row>
        <ion-col  col-6 color="primary" class="gridMenu">
              <h5 margin padding>TODAY 25</h5>
        </ion-col>
        <ion-col col-6 class="gridMenu" (click)="goto('AddParcel')">
            <h5 margin padding>CREATE</h5>
              
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-header>


<ion-content>
    <ion-list>
        <!--<ion-item (click)="goto('AddParcelItem')">
          <ion-thumbnail item-start>
            PN 001
          </ion-thumbnail>
          <h2>Nairobi - Mombasa</h2>
          <p>10 items</p>
          <p>SN: Ahmed</p>
          <p>RN: Ali</p>
          
        </ion-item> -->

       <parcel-list [DetailView]="DetailView" [ParcelData]="ParcelData" [type]="'short'" [hasCheckbox]="false"></parcel-list>
      </ion-list>
</ion-content>

